.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage h1 {
  font-size: 3rem;
  color: whitesmoke;
  font-weight: 300;
}

.homepage p {
  font-size: 1.4rem;
  color: whitesmoke;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
  align-items: center;
  color: #f5f5f5;
}

.navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.intro-about {
  text-align: center;
  margin-inline: 10%;
  color: whitesmoke;
  font-weight: 100;
  font-size: 0.8rem;
}

.nav-links a {
  color: #f5f5f5;
  text-decoration: none;
  margin: 0 30px 0 0;
}

.nav-links a:last-child {
  margin-right: 4rem;
}

.nav-links a:hover {
  color: lightgray;
}

.bm-burger-button {
  display: none;
}

.my-logo {
  display: flex;
  align-items: center;
  margin: 0 30px;
  font-weight: 300;
}

.nav-mobile {
  display: none;
}

.ModalButton {
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.about-section {
  padding: 50px 0;
  text-align: center;
  background-image: url('./images/aboutBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  /* max-width: 800px; */
  margin: auto 80px;
}

.about-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fcf5f5;
}

.about-text {
  font-size: 1.1em;
  line-height: 1.6;
  color: #fcf5f5;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  max-width: 900px;
  margin: 20px auto;
}

.tech-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;

  /* margin-inline: 30px; */
  gap: 20px;
}

.frontend-tech,
.backend-tech,
.professional {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background-color: rgba(199, 197, 197, 0.2);
  max-width: 350px;
  min-width: 300px;
  height: 350px;
  transition: transform 0.3s ease-in-out;
}

.frontend-tech:hover,
.backend-tech:hover,
.professional:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.tech-stack h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: whitesmoke;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list li {
  font-size: 1.1em;
  margin-bottom: 8px;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  display: flex;
  border-radius: 10px;
  padding: 10px 10px;
  margin-inline: 5px;
}

.icon {
  width: 30%;
  border-radius: 50%;
}

.contact {
  padding: 40px 0;
  background-image: url('./images/about.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 2% 0 0 0;
}

.contact h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: whitesmoke;
}

.contact p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: whitesmoke;
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form-cont {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-element {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message {
  margin-top: 20px;
  background-color: #333;
  color: whitesmoke;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.success-message h2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.success-message p {
  margin-bottom: 0;
}

.footer {
  background-color: #000000;
  color: white;
  padding: 5px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin-bottom: 10px;
}

.socials {
  text-align: center;
}

.socials a {
  margin: 0 10px;
  font-size: 28px;
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons,
.socials a:hover {
  color: #000000;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }

  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bm-item {
    display: block;
    padding: 0.8em;
    text-decoration: none;
    color: white;
  }

  .bm-item:hover {
    color: lightgray;
  }

  .bm-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bm-item + .bm-item {
    margin-top: 20px;
  }

  .tech-stack {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
