.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

/* .homepage-content {
  max-width: 600px;
} */

.homepage h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.homepage p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
